[2020-09-22 22:02] fauman opened #1 "erroneous newline"
There appears to be an erroneous newline (\n) in the gwas_catalog_v1.0.2-associations_e100_r2020-09-09.tsv download file, line 143081, in the p_value_text field:

between: **(parieto-frontal low theta coherence at P8-P4-F8-F4)**
and **coherence**

https://www.ebi.ac.uk/gwas/variants/rs151174000

[2020-10-07 10:36] ljwh2 commented on #1
Thanks for alerting us to this, we are looking into it

[2020-10-08 16:34] mcerezof commented on #1
The line also appeared in the uploaded spreadsheet of associations for the study, however it passed the validation and it does not appear in the curation interface.
The entry has been edited and the extra line should disappear for the next release
![Screenshot 2020-10-08 at 17 30 08](https://user-images.githubusercontent.com/12908693/95487246-fde9e380-098b-11eb-831d-739eeca79e2d.png)

[2020-10-21 13:03] ljwh2 commented on #1
Fixed in latest data release

[2020-10-21 13:04] #1 closed, assigned to nobody

[2020-11-02 16:14] dhimmel opened #2 "GCST006287: GWAS for adolescent idiopathic scoliosis is problematic?"
https://www.ebi.ac.uk/gwas/studies/GCST006287 contains associations for adolescent idiopathic scoliosis from:

Jiaqi Liu, Yangzhong Zhou, Sen Liu, Xiaofei Song, Xin-Zhuang Yang, Yanhui Fan, Weisheng Chen, Zeynep Coban Akdemir, Zihui Yan, Yuzhi Zuo, … Nan Wu
*Human genetics* (2018-07) <https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6200315/>
DOI: [10.1007/s00439-018-1910-3](https://doi.org/10.1007/s0

[2020-11-02 16:43] dhimmel commented on #2
Quote from the main text:

It looks like the results added to the GWAS Catalog are from Table S3 ([download link](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6200315/bin/NIHMS987877-supplement-S3.xlsx))

Here are the top rows:

CHR | SNP | A1 | A2 | TEST | AFF | UNAFF | CHISQ | DF | p value
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
7 | rs6964752 | A | G | ALLELIC | 391//1 | 0//622 | 1010 |

[2020-11-02 18:10] dhimmel opened #3 "GCST008413: study on acute myeloid leukemia is problematic?"
GWAS Catalog study [GCST008413](https://www.ebi.ac.uk/gwas/studies/GCST008413) corresponds to:

Hongchao Lv, Mingming Zhang, Zhenwei Shang, Jin Li, Shanshan Zhang, Duan Lian, Ruijie Zhang
*Oncotarget* (2016-11-26) <https://doi.org/f9p89x>
DOI: [10.18632/oncotarget.13631](https://doi.org/10.18632/oncotarget.13631) · PMID: [27903959](https://www.ncbi.nlm.nih.gov/pubmed/27903959) · PMCID: [PMC5352368

[2020-11-02 18:14] dhimmel commented on #3
I noticed this as an outlier when plotting the number of variants discovered versus the sample size for studies in OpenTargets Genetics:

OpenTargets Genetics includes GWAS Catalog data and performs some processing, so while the exact numbers might be slightly different, the outliers are likely the same. Note that OTG has remove associations using a genome wide significance threshold of 5e-08.

No

[2020-11-24 13:01] mightyphil2000 opened #4 "Wrong studies being linked to EFO"
When I search for the EFO "non-melanoma skin carcinoma" I get taken to this page
https://www.ebi.ac.uk/gwas/efotraits/EFO_0009260

The page mistakenly lists a lot of studies that aren't skin cancer studies. I think what's happening is that non-melanoma skin cancer includes cutaneous squamous cell carcinomas and the page is listing all cancers that are of the squamous cell carcinoma type rather tha

[2020-12-02 13:12] aoifemcm commented on #2
Dear Daniel,
Firstly, let me apologise for the delay in getting back to you.

I've had a look at this study, and it looks to be an interesting case.  I think it probably is the case the the very small p-values reflect the issue that the authors are highlighting.  That is that the presence of SNPs in CNV regions can lead to their incorrect genotyping, and therefore inflated association p-values.

H

[2020-12-02 13:36] aoifemcm commented on #3
Dear Daniel,

I've had a look at this study. I can't see any problem with it that would cause us to remove it and the data are as presented in the paper.  I'd note that the study looks at multi-SNP haplotypes (See table S2), with each separate haplotype genotype for the same variants presented separately.  This leads to an inflation of the number of associations for the same variants.  For example

[2020-12-02 14:34] aoifemcm commented on #4
Dear Phil,
Thanks for contacting us.  We're looking into your query and will get back to you shortly,
Aoife

[2020-12-02 16:16] dhimmel commented on #2
Quoting from https://github.com/EBISPOT/gwas-user-requests/issues/3#issuecomment-737234274

In combination with:

So the current thinking is that there are two issues leading to the large number of associations (1317):

1. some association p-values are inflated for SNPs located in CNV regions.
2. GWAS Catalog did not filter filter associations to one-per-locus, since the authors did not provide ge

[2020-12-02 16:28] dhimmel commented on #3
Thanks for taking a look.

Makes sense that the lead-snp filter (is that the right term) doesn't work for associations with multi-SNP haplotypes.

I don't think that's the entire problem, since the Manhattan plot [from OTG](https://genetics.opentargets.org/study/GCST008413) shows associations throughout the genome:

![image](https://user-images.githubusercontent.com/1117703/100900101-7d79c780-3490

[2020-12-07 10:50] aoifemcm commented on #2
Dear Daniel,
I completely agree that both of these publications have suspiciously high numbers of associations given the sample sizes, and the reasons for these aren't clear.  For now, we are happy that we've provided enough information for you to flag them yourself so you can investigate further.  We attach a lot of weight to user input like yours and we will take your suggestions on board when w

[2020-12-07 10:52] aoifemcm commented on #3
See response in https://github.com/EBISPOT/gwas-user-requests/issues/2

[2020-12-10 20:17] mattcloward opened #5 "rs1366200 in GCST002685 has a comma in its CI range instead of a period"
See the below page:
https://www.ebi.ac.uk/gwas/variants/rs1366200

The CI is "[1.174-1,457]" but it should be "[1.174-1.457]"

Thank you!

[2020-12-10 20:45] mattcloward opened #6 "PubMed id "17952075" missing ethnicity in 5 of 6 of its study accessions"
See the below link:
https://www.ebi.ac.uk/gwas/publications/17952075

The study at PubMed id "17952075" has 5 study accession ids associated with it (GCST000115-GCST000120). The study title says that the ethnicity for this study is "European." However, only one of the study accession ids lists an ethnicity (GCST000118 has European listed). GCST000115, GCST000116, GCST000117, GCST000119, and GCST00

[2020-12-16 14:13] ljwh2 commented on #5
Thanks for bringing this to our attention. I have removed the comma in the database and you should see the change in the public version after our next data release in mid January

[2020-12-16 14:14] #5 closed, assigned to ljwh2

[2020-12-16 21:19] ljwh2 commented on #6
We have added the curated ancestry in the database and you should see the changes following our next data release in mid January. Thanks for bringing this to our attention.

[2020-12-16 21:19] #6 closed, assigned to ljwh2

[2020-12-20 00:57] mattcloward opened #7 "The title for study ID "GCST004165" has a monospace/ligated character"
When using the API to download data, I found that the title for study ID ""GCST004165" has a ligated `ﬁ` character when the character should be separated into two characters, "f" and "i"
The offending character can be found in the word "identifies."

[2021-01-06 11:42] eks-ebi commented on #7
I've looked into fixing this and found that the incorrect `ﬁ` character is there in our curation app. Unfortunately, the curation app doesn't allow direct editing of publication titles - they are imported from EuropePMC and locked. It's likely that the strange character was already present in EuropePMC.

Can one of the developers edit the publication title directly in the database? @sprintell

[2021-01-08 18:45] sabrinacamp2 opened #8 "GCST000964 summary statistics has swapped effect allele and other allele columns"
Hi,

I was looking through the formatted summary statistics for this study (ftp://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/AndersonCA_21297633_GCST000964/harmonised/21297633-GCST000964-EFO_0000729-Build37.f.tsv.gz), and found that there were two headers in the file. One header was found at the beginning and another was found 2/3 down the file. The difference between these two headers wa

[2021-01-13 11:48] #2 closed, assigned to nobody

[2021-01-13 11:48] #3 closed, assigned to nobody

[2021-01-13 12:07] jdhayhurst commented on #8
@buniello please could you check the allele columns for this study?

[2021-01-13 15:12] jdhayhurst commented on #7
Updated in the database: replaced `ﬁ` with `fi` in the study title for GCST004165. The change will be published with the next data release.

[2021-01-14 11:27] buniello commented on #8
@jdhayhurst the file has now been re-formatted with the new tool and also ss-validated. It's in the "NewStudies" directory ready for harmonisation.

[2021-01-14 16:52] jdhayhurst commented on #8
Perfect! Thanks @buniello

[2021-01-26 21:25] ljwh2 commented on #4
Issue passed to EFO

[2021-02-03 17:27] #7 closed, assigned to jdhayhurst, eks-ebi

[2021-02-03 17:30] jdhayhurst commented on #8
fixed and released

[2021-02-03 17:30] #8 closed, assigned to buniello, jdhayhurst

[2021-02-09 11:42] peranti opened #9 "What do the columns signifies in the harmonized file?"
I have a question regarding the contents of the file 29083406-GCST005038-EFO_0003785.h.tsv (file location: ftp://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/FerreiraMA_29083406_GCST005038/harmonised/).

[code]

Information about some of the columns is provided [here](https://www.ebi.ac.uk/gwas/summary-statistics/docs/#available-data-fields).

Name | Type | Description
-- | -- | --
variant_

[2021-02-10 10:16] jdhayhurst opened #10 "investigate discrepancies in the harmonised data"
For instance here:

[code]

ftp://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/FerreiraMA_29083406_GCST005038/harmonised/29083406-GCST005038-EFO_0003785.h.tsv.gz

and also here:
[code]

[2021-02-10 18:05] buniello commented on #10
I have re-formatted the raw file from FerreiraMA_29083406_GCST005038 with the new formatting tool.
File 29083406-GCST005038-EFO_0003785-Build37.tsv is now in the NewStudies folder for harmonisation.

[2021-02-12 16:03] jdhayhurst commented on #10
Thanks @buniello - queued for harmonisation

[2021-02-16 14:20] jdhayhurst commented on #10
@buniello Finished and released. The difference with the new file is that it utilises the rsID that was given by the author as a qc/disambiguation step as it was relabelled to variant_id. Any of the variants reported in the two tables (above) where the rsIDs were not matches or synonyms to the rsID provided by the author will have been removed from the harmonised file.

[2021-02-16 17:36] buniello commented on #10
Thanks @jdhayhurst - replying to the user shortly

[2021-02-24 11:33] #10 closed, assigned to buniello, jdhayhurst

[2021-03-02 17:52] jdhayhurst opened #11 "resolve header inconsistencies in Ahola-Olli and SCALLOP summary stats datasets"
The input summary stats for all Ahola-Olli studies should be of the same format, likewise for SCALLOP. However, they were formatted differently so there are some differences in the headers that are present in the files. Correct this so that they consistent

[2021-03-03 15:33] jdhayhurst commented on #11
ahola - reformatted - harmonising
SCALLOP - reformatted affected - harmonised

[2021-03-03 15:48] jdhayhurst opened #12 "harmonise 33414548 summary stats"

[2021-03-04 16:41] jdhayhurst commented on #12
reformatted and queued

[2021-03-04 16:43] jdhayhurst opened #13 "harmonise all 32404885 as priority"
queued up (removed other files in queue)

[2021-03-09 16:12] jdhayhurst commented on #11
released Ahola and sent SCALLOP via ftp

[2021-03-09 17:29] jdhayhurst commented on #12
fixed permissions issue - releasing

[2021-03-09 17:34] jdhayhurst commented on #13
harmonised and releasing

[2021-03-10 11:27] #11 closed, assigned to jdhayhurst

[2021-03-10 11:27] #12 closed, assigned to jdhayhurst

[2021-03-10 11:27] #13 closed, assigned to jdhayhurst

[2021-03-25 15:44] aoifemcm commented on #4
Hi @mightyphil2000,
Apologies for the delay in getting back to you.  It is a problem with the underlying ontology and our ontologists need to look at it in more detail.
Aoife

[2021-03-25 15:57] earlEBI commented on #9
Resolved via gwas-info - checking.

[2021-04-03 11:14] peranti commented on #9
@earlEBI Could you kindly share the information for my question?

[2021-04-12 12:27] jdhayhurst opened #14 "permission denied on user's own globus server connect endpoint"
user is seeing permission denied on their own globus server. There's not much we can do to help with this as it's not setup by us or in any way under our control. I've tried to figure out what the issue can be but it's difficult to diagnose without access or better knowledge of globus server connect.
suggested: check user creds, consider globus personal connect

[2021-04-12 12:29] jdhayhurst opened #15 "submission validating for several days"
submission https://www.ebi.ac.uk/gwas/deposition/submission/6063306c0164810001945159 has been validating for several days - investigate why and unblock

[2021-04-15 13:04] earlEBI commented on #9
@peranti The information you require should be found here https://www.ebi.ac.uk/gwas/docs/methods/summary-statistics and also in the readme file accompanying the harmonised files. Please get back in touch via gwas-info@ebi.ac.uk if there is anything else you need. Thank you.

[2021-04-26 10:45] jdhayhurst opened #16 "OTAR request: harmonise GCST90013791"
harmonised this study and notify OTAR when complete

[2021-04-26 15:48] jdhayhurst opened #17 "private ftp server - connection refused"
Due to private ftp connection refused error, it's not possible to validate files/use the submission app.
Contacted transfer services team.
When resolved - restart affected submissions and notify users.

[2021-04-27 09:05] jdhayhurst commented on #17
transfer services fixed issue.
affected submission resubmitted and users notified.

[2021-04-27 09:05] #17 closed, assigned to jdhayhurst

[2021-04-27 09:52] jdhayhurst opened #18 "submission won't complete validation"
submission 604105c7b13a9000016f8e7e does not complete validation - investigate why and resolve this issue for the user.

[2021-04-27 10:42] jdhayhurst commented on #18
resubmitted, it failed the first time, but was successful the second time. Created ticket (gwas-sumstats-service#154
) looking at improving the robustness of the communication.

[2021-04-27 10:42] #18 closed, assigned to jdhayhurst

[2021-04-28 08:46] jdhayhurst commented on #16
study is unpublished which is why it was not automatically queued.
set up a pathway for harmonising unpublished data

[2021-04-28 09:04] #14 closed, assigned to jdhayhurst

[2021-04-30 16:50] jdhayhurst commented on #16
running

[2021-05-04 10:50] jdhayhurst commented on #16
Complete - should this be published?

[2021-05-05 08:36] #15 closed, assigned to jdhayhurst

[2021-05-05 10:50] jdhayhurst commented on #16
published on ftp: http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90013001-GCST90014000/GCST90013791/harmonised

[2021-05-05 17:54] #16 closed, assigned to jdhayhurst

[2021-05-18 15:46] mcgml opened #19 "Duplicate rows in GWAS summary stats file"
Hi

Please see this issue re duplicate rows in GWAS summary stats file

https://github.com/MRCIEU/gwas-vcf-specification/issues/10

Many thanks
Matt

[2021-06-03 11:19] #9 closed, assigned to nobody

[2021-06-16 08:57] jdhayhurst commented on #19
Hi Matt,

I've reprocessed the file and replaced the files. It looks like there was a formatting error. Please let me know if there are still issues with the files.
Thanks

[2021-06-16 09:13] jdhayhurst opened #20 "truncation of harmonised files from 32929287"
The following studies are reported to have truncated harmonised sumstats:

GCST90001900
GCST90001895
GCST90001868
GCST90002092
GCST90002103
GCST90002107
GCST90001764
GCST90001770
GCST90001595
GCST90001600
GCST90001494
GCST90001490
GCST90001931
GCST90001962
GCST90001714
GCST90001676
GCST90001640
GCST90001636

Investigate the issue, resolve and reply to user

[2021-06-16 10:31] #19 closed, assigned to jdhayhurst

[2021-06-16 15:53] jdhayhurst commented on #20
Looking at one example:

chromosome    base_pair_location    effect_allele    other_allele    N    MAF    effect_allele_frequency    beta    standard_error    p_value

1    565419    G    C    2919    0.0168    0.0168    0.08572    0.1327    0.5183

This was carried from GRCh37 to GRCh38 using liftover, which changed the base pair location to 630039. When it came to harmonise this variant against

[2021-06-16 15:55] jdhayhurst commented on #20
User reports that the harmonised data for GCST90001900 are exclusively from chroms 1-5 - investigate why this would be the case.

[2021-06-17 13:30] jdhayhurst commented on #20
queued for harmonisation

[2021-06-24 15:41] jdhayhurst commented on #20
harmonised and released, md5sums updated

[2021-06-25 09:48] jdhayhurst opened #21 "sumstats have not been released for submission 5f0450988a8b2700011b9412"
Some of the sumstats have been released for this submission, while others have not. They should all be released.
GCST90002225
GCST90002226
GCST90002227
GCST90002228
GCST90002229
GCST90002230
GCST90002231
GCST90002232
GCST90002233
GCST90002234
GCST90002235
GCST90002236
GCST90002237
GCST90002238
GCST90002239
GCST90002240
GCST90002241
GCST90002242
GCST90002243
GCST90002244
GCST90002245
GCST90002246
G

[2021-06-25 15:58] jdhayhurst commented on #21
Unable to identify the cause of the problem, but it has now been resolved by manually triggering the publish actions and in four cases ('GCST90002235', 'GCST90002247', 'GCST90002241', 'GCST90002229') the files had to manually fetched from globus again.

[2021-06-25 15:58] #21 closed, assigned to jdhayhurst

[2021-06-28 08:03] #20 closed, assigned to jdhayhurst

[2021-06-30 16:31] jdhayhurst opened #22 "Investigate why there are invalid values in published sumstats"
GCST007236, looks very strange. E.g. the beta and SE values look strange, p values are outside the range 0 - 1, etc. Could you have a look?
It's this file:
ftp://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST007001-GCST008000/GCST007236/harmonised/25751625-GCST007236-EFO_0000305.h.tsv.gz

- these sumstats predate the validation/submission pipeline but should be investigated and fixed

[2021-07-07 16:39] jdhayhurst opened #23 "Missing met-d-XXL_VLDL_TG from harmonised sumstats"
OTAR issue - this dataset was accidentally skipped from conversion from vcf to tsv. It needs to be converted, formatted, harmonised and sent to OTAR

[2021-07-08 15:55] jdhayhurst commented on #22
Hi @buniello I think this dataset needs to be reformatted - please let me know if I can help

[2021-07-09 12:58] buniello commented on #23
@jdhayhurst file is now formatted and in preanalysis/buniello -- formatted_met-d-XXL_VLDL_TG.tsv

[2021-07-09 17:30] jdhayhurst commented on #23
queued for harmonisation

[2021-07-13 15:52] buniello commented on #22
@jdhayhurst I have re-formatted the original file and values make sense now. I could not figure out what happened with previous processing - the original file contains 61 columns and something must have gone wrong with the previous formatting tool.

new file: formatted_icogs_bcac_public_results_euro.build37.tsv in preanalysis/buniello

[2021-07-14 09:12] jdhayhurst commented on #22
queued for harmonisation
once completed - release formatted and harmonised data

[2021-07-14 12:49] jdhayhurst commented on #23
completed and released to otar ftp

[2021-07-14 12:57] helenp commented on #4
Tested via GUI and download 14/7/21 - query still retrieves non skin related data as user subscribes. Contacting ontology team for follow up.

[2021-07-14 13:36] ljwh2 commented on #4
Relevant EFO ticket is here: https://github.com/EBISPOT/efo/issues/1160

[2021-07-16 14:55] jdhayhurst commented on #22
released

[2021-08-11 10:10] #23 closed, assigned to buniello, jdhayhurst

[2021-08-11 10:10] #22 closed, assigned to buniello, jdhayhurst

[2021-09-21 08:58] jdhayhurst opened #24 "revert submission 612d04456d0dd70001e4bb65"
all data for submission needs to be reverted and files deleted:
GCST90027064
GCST90027065
GCST90027066

[2021-09-21 09:22] #24 closed, assigned to jdhayhurst

[2021-09-21 09:22] jdhayhurst commented on #24
under embargo - so files will not have been released. closed globus endpoint

[2021-09-24 10:22] jdhayhurst opened #25 "editing template for pmid 29892013 failed because the globus endpoint had been deacativated"
Editing template with depo curation failed for this submission because the existing depo code is called which in turn calls the sumstats service for sumstats validation. Sumstats validation failed because the globus endpoint and all files within have been deleted.

1. Is this the desired behaviour?
 - if not, what is the desired behaviour?
2. is "successful submission" the wrong time to deactivate

[2021-09-29 09:15] jdhayhurst opened #26 "update association download file to remove newline char"
the association download file contains a newline char - remove this and redeploy the file

[2021-09-29 12:23] jdhayhurst commented on #26
fixed association and association_alt files, released to FTP, released to prod, tested - all ok

[2021-10-06 08:43] jdhayhurst commented on #25
Conflated two issues here. The globus endpoint was actually active and not the problem. The problem was caused by a timeout due to ftp transfer taking too long. The real issue is: should we be calling the sumstats service from depo curation when currently we do not allow for sumstats edits?

[2021-10-06 10:26] #26 closed, assigned to jdhayhurst

[2021-10-06 10:27] #25 closed, assigned to jdhayhurst, sajo-ebi

[2021-10-06 15:45] jdhayhurst opened #27 "Investigate missing harmonised files"
User reported that some harmonised files may be absent from the FTP, when they should be public.

see for details: https://docs.google.com/spreadsheets/d/1H9zJAINFisPTY88lvcQzJdmM8o33CzzQdMdTVKuN7GI/edit#gid=0

[2021-10-07 08:58] jdhayhurst opened #28 "harmonised files for GCST90002235, GCST90002241 are empty"
There are zero associations in the files harmonised files for studies GCST90002235 and GCST90002241 - need to investigate why.

[2021-10-07 09:21] Santhi1901 opened #29 "Submission ID:615d41e53d37930001407565 validation failed"
Submission has 116 sumstat files and the error shown is  "formatted_a1071.tsv: There is a problem on our side, please contact gwas-subs@ebi.ac.uk for further advice." and error is there for 74 of the sumstat files.

[2021-10-07 11:02] jdhayhurst commented on #29
These are validating fine within approx. 20 mins but it fails to then sync the file to our private FTP within the default 60 min time limit imposed on cluster jobs. However, when it fails, it retries and multiplies the 60 mins by the retry number (up to 5). I am therefore surprised that it unable to complete the sync within 5 hours, but nevertheless that is the case. I could increase the default l

[2021-10-07 11:34] Santhi1901 commented on #29
Can I restart the submission now?

[2021-10-07 13:51] jdhayhurst commented on #29
Hi Santhi, I've kicked it off again so that I can watch the logs - I'll let you know how it goes. I'm trying to figure out why it takes so long to transfer the files.

[2021-10-11 10:00] jdhayhurst opened #30 "studies for submission 6130d5e6088ad000014c5e72 not being displayed on landing page"
the search works, the tables work but the study landing pages do not.
The sample data did not import correctly @sajo-ebi and @jdhayhurst will need to manually fix this one

[2021-10-11 13:07] jdhayhurst commented on #30
Reassigned sample data to studies in SPOTREL.
Based on https://www.ebi.ac.uk/seqdb/confluence/pages/viewpage.action?pageId=57282013 - created snapshot, then refreshed FALLBACK and SPOTPUB

[2021-10-11 16:26] mpage21 opened #31 "Potential wrong value in the p-value annotation column"
GCST002299 has the value 0.66 in the P-value annotation column for rs926070-A --> this seems like it should be in the RAF column instead
GCST011066 has the value 0.13 in the P-value annotation column for rs77462941-C --> also seems like it should be in the RAF column

[2021-10-11 17:32] mpage21 opened #32 "Add a field to indicate which strand the allele is on"
It would be really helpful to know which strand the allele is on. Sometimes it seems that some of the alleles that are reported are not on the forward strand

[2021-10-15 09:07] Santhi1901 opened #37 "Reopening the status for PMID 34265237 (submission ID: 6139296a09113d0001e14c34)"
The metadata and top association was curated through depo app and now it needs to be reopened to submit summary stat

[2021-10-18 09:02] earlEBI opened #40 "Saori Sakaue large submission status: import in progress"
Submission 609c44af4e974a0001bec83d
Author submission for 440 studies and sumstats files.

Curators added associations (~17k) in the DepoCuratioin App.

Was pushed through DepoCuration validation stage by Developers as the sumstats endpoint no longer existed.

I clicked import in the Curation App around Wednesday 13th October, but the status remains 'import in progress' on 18th October.

Submissio

[2021-10-18 14:12] sajo-ebi commented on #40
@earlEBI unfortunately there was an deployment last Thursday for Curation App  that caused the Import process to end abruptly , as part of the last deployment the mapping pipeline step which was consuming  the most time has been removed , as it is being run as standalone manner & not needed during Import, this should speed up the import process . I will update the submission to a state where it ca

[2021-10-18 14:57] aoifemcm commented on #27
Reported from another user (Remo Monti, Intervene) http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST004001-GCST005000/GCST004773/

[2021-10-19 08:01] earlEBI commented on #40
@sajo-ebi thanks, import worked except unfortunately none of the EFOs have imported. Edit: I think I see why, the header had a missing space between 'mapped' and 'trait'

[2021-10-19 10:44] jdhayhurst commented on #29
Hi @Santhi1901, after gwas-sumstats-service#175 (and likely some fixes that that transfer service team made), this submission has now completed successfully.

[2021-10-19 11:22] Santhi1901 commented on #29
thank you @jdhayhurst . Can I import to curation app now?

[2021-10-20 08:53] sajo-ebi commented on #30
Data has been refreshed in Spotpub & the issue has been fixed & validated by the user

[2021-10-20 08:54] sajo-ebi commented on #40
The submission has been imported successfully & has been validated

[2021-10-20 09:59] sajo-ebi commented on #37
Discussed with @Santhi1901 , the study  needs to be published for the sumstats to be submitted which will be done as part of Data release

[2021-10-20 10:02] #30 closed, assigned to jdhayhurst, sajo-ebi

[2021-10-20 10:07] #29 closed, assigned to jdhayhurst

[2021-10-20 10:08] jdhayhurst commented on #29
@Santhi1901 submission is complete so I think you're good to go

[2021-10-20 10:40] ljwh2 commented on #31
hi @mpage21, what file are you seeing this error in?

[2021-10-20 12:46] jdhayhurst opened #33 "submission contains half gene-based analyses but needs passing anyway"
https://www.ebi.ac.uk/gwas/deposition/submission/615df545921d1b00012f1e6e
- check the single variant analyses are valid and if so, pass the whole lot through.

[2021-10-20 12:52] jdhayhurst opened #34 "all files for submission need to be transferred"
https://www.ebi.ac.uk/gwas/deposition/submission/613d94f16d0dd70001ae02be

This actually failed silently on the file transfer, we need to make sure that all the files were transferred to staging

[2021-10-20 12:56] eks-ebi commented on #31
@ljwh2 This does seem to be a simple curation error - I am checking the original papers to confirm if it is indeed the RAF that has been put in the wrong field

[2021-10-20 13:09] eks-ebi commented on #31
Confirmed: the RAF was incorrectly entered into the P-value annotation field. This has now been corrected in our database and the change can be included in today's data release.

[2021-10-20 13:20] jdhayhurst opened #35 "submission has fewer than 100k rows but should pass validation"
https://www.ebi.ac.uk/gwas/deposition/submission/614fa65d09113d00018af505

run with validation set to minrows 1000

[2021-10-20 13:52] jdhayhurst commented on #35
callback `SM2LPsi8`
validating for 1000 rows min

[2021-10-20 14:21] mpage21 commented on #31
Thank you!

[2021-10-20 14:33] jdhayhurst commented on #33
callback = `64jravRs`
manually validated all the single variant files - all good.
pushing through validation

[2021-10-20 14:58] ljwh2 commented on #32
Hi @mpage21, are you looking at the alleles for the top associations in the GWAS Catalog web search? Here, we report the alleles as described by the author in the original paper, which as you observe are not reported consistently. We do additionally pull information on the alleles from Ensembl, which can be found in the top box on the variant page e.g. https://www.ebi.ac.uk/gwas/variants/rs1157391

[2021-10-20 16:10] jdhayhurst commented on #34
- created mapping file gcst-->filename
- running job to sync files

[2021-10-21 13:54] jdhayhurst commented on #34
all files sync'd to staging - check next sumstats release

[2021-10-21 13:54] jdhayhurst commented on #33
all files transferred but payload size is possibly causing timeouts

[2021-10-21 16:04] jdhayhurst opened #36 "remove GCST003155 from sumstats db"
GCST003155 is in the sumstats db but is a duplicate of GCST003156. It should be removed

[2021-10-22 15:34] jdhayhurst commented on #35
submitter will resubmit with full pvalue sumstats

[2021-10-22 15:36] jdhayhurst commented on #33
timeout from globus when listing dir during the move to staging step. This is one of the problems with very large directories. Manually exported a list of gcsts and study ids and performed the move using a cluster job

[2021-10-25 15:30] jdhayhurst commented on #28
Studies used Bayes factor instead of p-value to state the significance - should we remove from FTP?

[2021-10-25 16:33] jdhayhurst commented on #27
It looks like for the majority of cases, the files are not harmonised because the original summary stats pre-date our submission app and therefore require pre-harmonisation formatting.
Due to the volume of formatting (ultimately a manual process), we need to process the studies according to a prioritisation queue and these studies have simply not reached the front of the queue yet. The one excepti

[2021-10-26 15:56] earlEBI opened #39 "Update to submission template schema needed - exome sequencing technology"
When attempting to upload submission template with genotyping technology 'Exome-wide sequencing' to match existing option in Curation App dropdown menu...

![Screenshot 2021-10-26 at 15.26.07.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/2b7fb7a6-12f8-4240-8b98-5d2bc6029a07)

...an error is returned:
Errors:
Studies: Column 'Genotyping technology' in row(s) [5] contains incorr

[2021-10-27 10:25] jdhayhurst commented on #39
added 'Exome-wide sequencing' to the genotyping technology list in the template services schema. Bumped schema version. @earlEBI it's available for testing in sandbox.

[2021-10-27 13:25] earlEBI commented on #39
working well, thank you.

[2021-10-28 09:10] jdhayhurst commented on #39
deployed to prod

[2021-10-28 12:10] jdhayhurst commented on #36
completed and updated documentation on deletion procedure:
https://www.ebi.ac.uk/seqdb/confluence/display/GOCI/Study+Loading

[2021-11-01 11:29] jdhayhurst commented on #36
The sumstats api no longer has records for GCST003155. @buniello please can you confirm that all looks fine from the GWAS catalog website?

[2021-11-01 16:19] buniello commented on #36
The API link is not visible anymore for GCST003155. All good @jdhayhurst

[2021-11-02 10:13] earlEBI opened #38 "Backman PMID 34662886 submission needs resetting"
Submission 615df545921d1b00012f1e6e for 7972 studies with sumstats was successfully submitted by the author.

This was a BoW submission (GCP000236) with embargo until date of publication. Later, we added the PMID and the data was released to FTP, but not yet imported.

The author then contacted us to ask for the sumstats to be held from release.
Permissions have been changed on the FTP so they can

[2021-11-03 09:52] sajo-ebi commented on #37
@Santhi1901 can you confirm if this is resolved after Data Release

[2021-11-03 10:17] #40 closed, assigned to sajo-ebi

[2021-11-03 11:20] #35 closed, assigned to jdhayhurst

[2021-11-03 11:21] #27 closed, assigned to jdhayhurst

[2021-11-03 11:22] #33 closed, assigned to jdhayhurst

[2021-11-03 11:22] #34 closed, assigned to jdhayhurst

[2021-11-03 11:23] #38 closed, assigned to sajo-ebi

[2021-11-03 11:23] #36 closed, assigned to jdhayhurst

[2021-11-03 11:31] #31 closed, assigned to nobody

[2021-11-03 11:31] #32 closed, assigned to nobody

[2021-11-03 12:20] Santhi1901 commented on #37
@sajo-ebi It needs to be reopened to add sumstat the status of study is shown as 'CLOSED'

[2021-11-03 14:36] jdhayhurst commented on #28
harmonised dirs removed

[2021-11-04 16:40] jdhayhurst opened #41 "Force submission (8000 studies) to pass"
https://www.ebi.ac.uk/gwas/deposition/submission/615df545921d1b00012f1e6e
needs to pass.

[2021-11-04 17:12] jdhayhurst commented on #41
bypassed validation. syncing files to staging

[2021-11-16 14:11] #28 closed, assigned to jdhayhurst

[2021-11-17 10:45] #41 closed, assigned to jdhayhurst

[2021-11-17 10:57] #39 closed, assigned to jdhayhurst, ala-ebi

[2021-11-18 16:30] jdhayhurst opened #42 "stalled submission nBjvsiQ6"
investigate why it's still validating after one week, fix, report to user.

[2021-11-22 10:05] jdhayhurst opened #43 "investigate error on our side: 6198ce0f81051b000178cee4"
error on our side for https://www.ebi.ac.uk/gwas/deposition/submission/6198ce0f81051b000178cee4 needs to be resolved.

[2021-11-22 10:08] jdhayhurst commented on #43
stdout:
[code]
will restart validation

[2021-11-22 10:23] jdhayhurst commented on #42
After validation the file is successfully copied from the wp storage back to the private ftp but the job never recognises that this transfer has completed. Eventually the job times out and it fails. gwas-sumstats-service#181 should resolve this. Until then I will manually copy the files over.

[2021-11-29 09:24] jdhayhurst commented on #43
validation completed

[2021-11-29 11:56] jdhayhurst opened #44 "sumstats from submission 6198ce0f81051b000178cee4 did not publish on ftp"
This is due to https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/gwas-sumstats-service/192.
Manually publish the files for now.

[2021-12-01 11:32] #44 closed, assigned to jdhayhurst

[2021-12-01 11:32] #43 closed, assigned to jdhayhurst

[2021-12-01 11:56] #42 closed, assigned to jdhayhurst

[2021-12-06 18:16] ConnorBarnhill opened #45 "Error getting directory bin for FTP site"
Looking at this study: https://www.ebi.ac.uk/gwas/studies/GCST90080000
The link to download the full summary statistics from FTP gives a 404 error. This looks to be an error with the javascript function that gets the directory bin from the GCST id. Note that the FTP url is http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90080001-GCST90081000/GCST90080000

The GCST is mistakenly assi

[2021-12-10 14:05] sajo-ebi commented on #37
@Santhi1901 Please confirm if this PMid still needs to be open?

[2021-12-10 15:12] Santhi1901 commented on #37
@sajo-ebi yes I need to add sumstat to the PMID. The PMID is already showing OPEN FOR SUMMARY STATISTICS SUBMISSION in deposition tool

[2021-12-13 18:06] Santhi1901 commented on #37
@sajo-ebi I am not able to download submission form for this. https://www.ebi.ac.uk/gwas/deposition/submission/6139296a09113d0001e14c34

[2021-12-14 17:04] sajo-ebi commented on #37
@Santhi1901 since this ID is already submitted , the submission form can't be downloaded , for creating a sumstats submission you need to create sum stats type for the Pmid

[2021-12-14 18:34] Santhi1901 commented on #37
@sajo-ebi error is displayed while trying to download submission form. Error: There is a fault on our end. Please contact gwas-subs@ebi.ac.uk for help.
https://www.ebi.ac.uk/gwas/deposition/submission/61b78a74911f5a0001550987

[2021-12-15 13:04] sajo-ebi commented on #37
@Santhi1901 , there was some issues with Deposition Sync & the studies hadn't synced at Deposition app side , have manually added the entries in Depo DB .Kindly  create a fresh sum stats submission , Have opened the PMID for sum stats only submission , you should be able to download the form for a fresh submission

[2021-12-17 16:37] jdhayhurst opened #46 "Embargo submission 61b87d1c911f5a000155103f until end of March 2022"
We need to embargo submission 61b87d1c911f5a000155103f (GCP000262) until end of March 2022.
I was able to follow the instructions here: https://www.ebi.ac.uk/seqdb/confluence/display/GOCI/Deposition+and+Curation+Data+Sync
to extend the embargo until publication,  but I don't know how to embargo to a specific date.

[2021-12-22 10:03] Santhi1901 commented on #37
@sajo-ebi now there is no download submission button on that page

[2022-01-11 17:12] ljwh2 commented on #46
Moving this to icebox, in the end the user was happy to embargo to date of publication and we've never had another request to embargo to a specific date.

[2022-01-17 10:05] jdhayhurst opened #47 "FTP links reported to not be working"
The following were reported by a user to not be working:
http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST006001-GCST007000/GCST006065/harmonised/
http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST004001-GCST005000/GCST004422/harmonised/27989323-GCST004422-EFO_0004762.h.tsv.gz

[2022-02-09 09:43] jdhayhurst opened #48 "Sumstats file for GCST90088598 on FTP is truncated"
1) Locate reason why GCST90088598 on FTP is truncated
2) If possible, fix GCST90088598 on FTP
3) Check the rest of the files from that submission and fix accordingly

[2022-02-09 09:54] ljwh2 commented on #48
Info from Annalisa: The user Alexander Guojonsson has identified a problem with one of his submitted files and has uploaded a replacement file onto our private FTP. This now needs to be moved onto the public FTP.

private FTP Directory: Guðjónsson_GCST90088598
file hecksum: 1ade547
public FTP directory: GCST90088001-GCST90089000/GCST90088598/

[2022-02-09 14:23] jdhayhurst commented on #48
Affected studies and files:
'GCST90086701', 'somamer.11354_21_3.glm.linear.tsv'
'GCST90087682', 'somamer.13959_7_3.glm.linear.tsv'
'GCST90088076', 'somamer.2796_62_2.glm.linear.tsv'
'GCST90088598', 'somamer.4140_3_2.glm.linear.tsv'
'GCST90088699', 'somamer.4464_10_2.glm.linear.tsv'
'GCST90088852', 'somamer.4992_49_1.glm.linear.tsv'
'GCST90088938', 'somamer.5117_14_3.glm.linear.tsv'
'GCST90089314',

[2022-02-09 15:06] buniello commented on #48
may i communicate the list above to the user? @jdhayhurst

[2022-02-09 16:11] jdhayhurst commented on #48
replaced files from originals - suspected sync issue.
update md5sums

[2022-02-09 18:36] mpage21 opened #49 "inconsistencies for betaUnit (api)/beta (web)"
We've found studies that have some errors/inconsistencies in their betaUnit/beta columns:

| Trait | P-Value Annotation | Study Accession | betaUnit |
| --- | --- | --- | --- |
| Erythrocyte Count | (rbc) | GCST000500 | 1 M cell/mm^3 |
| Erythrocyte Count | (rbc) | GCST000500 | 1 M cells/mm^3 |
| Glucose Tolerance Test |  | GCST000569 | mmol/L |
| Glucose Tolerance Test |  | GCST000569 | [0.04-0.0

[2022-02-10 17:08] sajo-ebi commented on #37
@Santhi1901 can you provide the new submission details which you have created where the download button is missing

[2022-02-11 09:08] Santhi1901 commented on #37
@sajo-ebi
https://www.ebi.ac.uk/gwas/deposition/submissions

https://www.ebi.ac.uk/gwas/deposition/submission/6139296a09113d0001e14c34

[2022-02-16 09:01] buniello commented on #48
HI @jdhayhurst @ljwh2 , the user Alexander Gudjonsson has observed file truncation again for the files below - which include the one we have updated for him. I know you have discussed the issue during the iteration meetings.
Please see text below:

I see that the file GCST90088598
<http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90088001-GCST90089000/GCST90088598/>
has
been updated

[2022-02-16 13:19] jdhayhurst opened #50 "Remove sumstats from harmonisation queue where OR is negative"
studies with obviously wrong odds ratios. Can you remove these from being harmonised? ORs can't be negative.
Known files:
GCST90006790
GCST004419
GCST004462
GCST004481
GCST004415
GCST004417
GCST004418
GCST004478
GCST004480

[2022-02-17 10:08] jdhayhurst commented on #50
These were in fact already harmonised - they have now been removed

[2022-02-17 10:24] jdhayhurst opened #51 "sumstats for 34503513 return “403 forbidden”"
OTAR reported sumstats for 34503513 return “403 forbidden” - why?

[2022-02-17 10:51] jdhayhurst opened #52 "OTAR reported harmonisation data issue to investigate"
OTAR reporting failures for the following although the files exists:
GCST004292
GCST004293

This one has no data, although other GWAS from the same publication seem okay:
GCST006079

No data in harmonised file:
GCST90000181
GCST90011883
GCST90011881
GCST010116

No variants harmonised successfully:
GCST010763
GCST010764
GCST90093287
GCST90093288
GCST90011900

No alleles in original file - seems lik

[2022-02-17 10:53] jdhayhurst commented on #51
It was in the "unpublished" state for a few days. It has since been "republished" and resync'd. @ljwh2 and @sprintell is this definitely the behaviour we want - it seems to cause a lot of confusion.

[2022-02-17 11:57] jdhayhurst commented on #48
I'm not sure what happened. The modified date on the files is not what I was expecting (too recent).
I've redone the sync and the md5sums look correct and the files are not truncated: ```6a3f9395772c128e3bfb7347d6d448ee  GCST90086001-GCST90087000/GCST90086701/GCST90086701_buildGRCh37.tsv
da28dcb796e407848d015db48efc4c7b  GCST90087001-GCST90088000/GCST90087682/GCST90087682_buildGRCh37.tsv
fc3307cf0

[2022-02-17 14:57] jdhayhurst commented on #47
fixed

[2022-02-21 11:21] ljwh2 commented on #51
We used to only have one status in the Catalog "Unpublished" which covered two scenarios - (1) the study was unpublished for editing and then intended to be republished and (2) the study was permanently unpublished because it was found to be ineligible for the Catalog or the publication was withdrawn. We now have an additional status "Permanently unpublished from Catalog" to cover (2). I suggest w

[2022-02-22 16:23] jdhayhurst commented on #52
GCST004293 - Many variants dropped due to no alleles
GCST004292 - Many variants dropped due to no alleles
GCST006079 - Re-queued harmonisation
GCST90000181 - No other allele, cannot harmonise. Removed empty harmonised file
GCST90011883 - No other allele, cannot harmonise. Removed empty harmonised file
GCST90011881 - No other allele, cannot harmonise. Removed empty harmonised file
GCST010116 - form

[2022-02-22 21:50] ljwh2 commented on #49
Thanks for reaching out to us with this and the other issue, we are looking into it and will get back to you.

[2022-02-23 12:05] buniello commented on #52
GCST010763 and GCST010764 alleles are not properly labeled in the sumstats file & in the paper. Therefore the curator who formatted files and curated paper (Aoife) decided not to extract alleles. I believe she also contacted the authors with no reply @jdhayhurst

[2022-02-23 12:08] buniello commented on #52
GCST001725, GCST001728, GCST001729 from Jostins PMID 23128233 - the sumstats only hosted data for 25k SNPs and I was asked  to remove these datasets from FTP due to eligibility criteria @jdhayhurst

[2022-02-23 12:11] buniello commented on #52
Linking this ticket to this additional one i have created upon Jeremy's requests:
https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/620

[2022-02-23 13:24] #48 closed, assigned to buniello, jdhayhurst

[2022-02-23 14:42] #50 closed, assigned to jdhayhurst

[2022-02-23 14:42] #47 closed, assigned to jdhayhurst

[2022-02-24 17:21] jdhayhurst commented on #51
created ticket to fix this: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/632

[2022-02-25 16:13] mohdkarim opened #53 "mis-labelled beta in GCST007799 and GCST007800 (PMID: 30929738)"
On checking source files provided by the [asthma study](https://europepmc.org/article/med/30929738) ([1](http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST007001-GCST008000/GCST007799/ADULT1_ADULT2_ONSET_ASTHMA.20180716.allchr.assoc.GC.gz), [2](http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST007001-GCST008000/GCST007800/CHILD_ONSET_ASTHMA.20180501.allchr.assoc.GC.gz)),

[2022-03-02 16:59] jdhayhurst commented on #52
Thanks @buniello - this ticket is now complete as far as I can tell.

[2022-03-02 17:46] jdhayhurst commented on #53
Reformatting and harmonising so that what the author provided as "beta" will now be "odds_ratio" in the formatted files. Their original data will remain the same.

[2022-03-09 11:15] #52 closed, assigned to jdhayhurst

[2022-03-09 11:15] #51 closed, assigned to jdhayhurst

[2022-03-23 08:58] jdhayhurst commented on #53
@mohdkarim, this has been completed. harmonised data have been released.

[2022-03-23 12:22] #53 closed, assigned to jdhayhurst

[2022-03-28 16:44] jdhayhurst opened #54 "Harmonise sumstats for 35115689"
These summary statistics are in the pipeline at the formatting stage but have remained there. We need to figure out why they are not progressing through the pipeline and get them harmonised.

[2022-03-31 13:55] jdhayhurst opened #55 "Embargo lifted GCST90013862–GCST90014022 but files still not published"
Embargo lifted GCST90013862–GCST90014022 but files still not published the next day.
Investigate why and publish the files

[2022-03-31 14:22] jdhayhurst commented on #55
1. check files are not "hidden" on FTP by checking from codon datamover: checked - missing
2. check files are not on staging: checked - present
3. check curation database that they are not "unpublished": accession IDs are not in curation database
4. check deposition sync - it failed

[2022-04-01 08:13] jdhayhurst commented on #55
curators reported that the embargo had actually not been lifted

[2022-04-06 09:30] #55 closed, assigned to jdhayhurst

[2022-04-08 11:14] jdhayhurst opened #56 "Issue with setting the effect allele in 21297633"
Email sent to gwas-info.

Adding content from email here to keep track - see email for more info:

[2022-04-08 11:59] jdhayhurst commented on #56
The “raw” file (anderson_2011_21297633_uc_efo0000729_1_gwas.sumstats.tsv.gz ) looks like it has the effect and other alleles flipped compared to the original (ucmeta-sumstats.txt.gz) - could this be our formatting error @buniello? This has consequences for the data harmonisation. Our file is b37 while theirs is b36 and our “other allele” is their “risk allele”.

[2022-04-13 17:01] jdhayhurst commented on #56
On staging:
- pulled in "original" file from IIBDGC webpage (file name: ucmeta-sumstats.txt.gz)
- formatted this file
- reharmonising formatted file

[2022-04-20 10:41] ljwh2 commented on #54
@earlEBI to investigate in the first instance

[2022-04-20 11:44] earlEBI commented on #54
I'm afraid I can't see an obvious reason. [gwas-subs](https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=533468) suggests they got their [submission](https://www.ebi.ac.uk/gwas/deposition/submission/6141bc0a09113d0001e193ac) to go through themselves without help. I checked one file and the headers seem ok...

![Screenshot 2022-04-20 at 12 41 44](https://user-images.githubusercontent.com/61545198/16

[2022-04-21 10:13] jdhayhurst commented on #45
Closing as this was resolved by this ticket: https://github.com/EBISPOT/gwas-ui/issues/245

[2022-04-21 10:13] #45 closed, assigned to jdhayhurst

[2022-04-26 10:50] aoifemcm opened #57 "Missing data in studies download (sum stats location)"
The studies download (gwas-catalog-v1.0.3-studies) has missing data. There is a field for Summary stats location, but it's blank for all studies.  The result is that it is unclear which studies have sum stats, when looking at the v1.0.3 download file.

The sum stats location is present in the download of 'list of published studies with sum stats', but that doesn't have other study meta data and it

[2022-05-04 11:48] ljwh2 opened #58 "Delete submission"
GCP ID: GCP000332, submission ID: 626acc9f0b24d90001d1d891 should be deleted on request of the submitter, Philip Law.

[2022-05-05 08:15] ljwh2 opened #59 "User wants to submit additional sumstats for PMID 35074870"
PMID35074870 currently has sumstats for 1 of 3 studies. User Ruth Chia requested that we re-open it so she can make a sumstats-only submission to the two remaining studies.

We should re-open the PMID for submission, BUT I don't think we can expect the user to submit on the same day the submission is opened. Please advise whether the deposition sync will close the study again when it runs. If so,

[2022-05-05 10:00] ljwh2 opened #60 "Submitted sumstats file on ftp is incomplete"
From gwas-info:

We're looking at the data file provided for GCST90092831 https://www.ebi.ac.uk/gwas/studies/GCST90092831 and whilst the MD5 of our downloaded file matches the hash provided, the file appears to be incomplete.

The end of the file looks like this;
jamie@yuri$ zless GCST90092831_buildGRCh37.tsv.gz | tail

gzip: GCST90092831_buildGRCh37.tsv.gz: unexpected end of file
rs117519112

[2022-05-05 10:02] ljwh2 commented on #60
@earlEBI Could you please investigate this, contact the submitter if necessary and work with devs to replace the file? It may be easier to switch the file manually rather than have them resubmit.

[2022-05-10 08:24] earlEBI commented on #60
@ljwh2 This is now fixed

[2022-05-18 07:56] #60 closed, assigned to earlEBI

[2022-05-23 17:09] DSuveges opened #61 "Questions about how variants are being handled in the GWAS Catalog"
Hi GWAS Team,

We are in the process of reviewing the logic of certain steps of our pipelines. For this, I need some help from you to better understand the data I could download from the GWAS Catalog website. These questions mostly revolve around how variants are being handled, mapped etc. Nothing major or nothing actionable on your side. The only reason I'm opening this ticket is to make the deci

[2022-05-25 10:17] ljwh2 commented on #61
We are diving into the code to get a solid basis to answer your questions from - will come back to you in the next couple of weeks.

[2022-05-25 19:42] DSuveges commented on #61
Thank you for looking into this @ljwh2!

[2022-05-30 03:05] FM-Jewl opened #62 "website exception"
Hi GWAS-catalog Team,
        There are something wrong with the website, may be due to the JS file of the CDN fails to be loaded. The website is not working now.

[2022-05-30 07:17] #62 closed, assigned to nobody

[2022-05-31 13:43] sajo-ebi commented on #58
@ljwh2 the submission is already archived , so shouldn't appear in submission list

[2022-06-01 09:49] #58 closed, assigned to sajo-ebi

[2022-06-01 10:08] sprintell commented on #56
@jdhayhurst  will check with @ljwh2  on what should be done with this, either to fix it which is going to be very demanding or probably just re-initiate

[2022-06-08 09:16] ljwh2 commented on #59
closed as duplicate of #724

[2022-06-08 09:16] #59 closed, assigned to sajo-ebi

[2022-06-15 10:50] ljwh2 commented on #56
@jdhayhurst confirmed we should reharmonise their original file

[2022-06-15 10:51] ljwh2 commented on #37
@Santhi1901 could you please update on this ticket, is the submission in the same state?

[2022-06-15 11:32] Santhi1901 commented on #37
yes it is in the same state. I still can't download the submission form and can't upload summary statistics

[2022-06-16 09:19] Santhi1901 commented on #37
@sajo-ebi can you reopen the pmid so that I can submit both metadata and sumstat together?

[2022-06-23 15:32] sajo-ebi commented on #37
@Santhi1901 before I open the Pmid do I need to delete all previous submissions? Has the GCST been published for this

[2022-06-23 15:36] Santhi1901 commented on #37
@sajo-ebi  yes, the GCST is published. If we delete the submission and again do it with sumstats, will you be able to change the GCST to the original one? It has 1 study

[2022-06-23 16:05] sajo-ebi commented on #37
@Santhi1901 yes I cam , if you have the GCST handy , I can delete all the submissions associated with this pmId , I think we have 3

[2022-06-24 07:39] Santhi1901 commented on #37
@sajo-ebi I've only one study associated with this PMId GCST90027266. you can delete this and reopen the submission

[2022-06-24 14:18] sajo-ebi commented on #37
@Santhi1901 The submission has been deleted & Pmid has opened again

[2022-06-24 15:48] Santhi1901 commented on #37
thanks @sajo-ebi

[2022-06-27 08:28] Santhi1901 commented on #37
@sajo-ebi when I search for this pmid in the deposition app, status shown is 'OPEN FOR SUMMARY STATISTICS SUBMISSION' not 'OPEN FOR SUBMISSION'. But when I check the pmid under 'Active submission', no submissions is seen.
<img width="1014" alt="Screenshot 2022-06-27 at 9 23 11 am" src="https://user-images.githubusercontent.com/57477790/175895114-dfc0d81d-372d-4817-a2c7-200b429a1eb2.png">
<img widt

[2022-06-27 14:10] sajo-ebi commented on #37
@Santhi1901 probably it was changed by DepoSync , changed the status , it is Open for Submission

[2022-06-28 12:49] jdhayhurst commented on #56
I'm looking a replacing the file we have with their file ucmeta-sumstats.txt.gz but there are two issues.
1. They do not have the non-risk allele in the file
2. Some of the rsIDs do not match the location data (even accounting for different genome assemblies). For example:
[code]
rs9629043 --> MT:4223-4223
rs12244 --> 1:42665982-42665982

Contacted user explaining this.

[2022-06-30 16:38] jdhayhurst commented on #54
I think I've identified and fixed the issue. Snakemake, which is managing this workflow, was exiting as soon as another independent job failed. There was a corrupt file that kept failing the pipeline, so even though these files are fine, they either never started or got terminated by snakemake.

[2022-07-08 10:32] jiyue1214 opened #63 "Corrupt data - GCST90044903"
Hi,

I found the [FTP download link](http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90044001-GCST90045000/GCST90044903/GCST90044903_buildGRCh37.tsv.gz) of the study GCST90044903 (PMID:34791234) is not working. Meanwhile, the summary statistic data of this study stored on Noah (/nfs/ftp/pub/databases/gwas/summary_statistics/GCST90044001-GCST90045000/GCST90044903/GCST90044903_buildGR

[2022-07-12 15:42] sajo-ebi commented on #37
@Santhi1901 please confirm if this can be closed

[2022-07-12 15:52] Santhi1901 commented on #37
@sajo-ebi yes, this can be closed

[2022-07-13 09:08] #37 closed, assigned to sajo-ebi

[2022-07-13 09:16] #54 closed, assigned to jdhayhurst

[2022-07-13 10:32] ljwh2 commented on #56
Retract sumstats pending communication from author

[2022-07-20 09:01] jdhayhurst commented on #56
revoked public access. Link is obviously broken, unless we remove the sumstats flag from the curation db

[2022-07-20 15:57] jdhayhurst commented on #56
updated study flag in db

[2022-07-27 10:30] #56 closed, assigned to jdhayhurst

[2022-07-29 13:59] jdhayhurst commented on #63
Can confirm that the file is corrupt, both copies that we have. It must have been corrupted  during transfer between our file systems. The only way to resolve this is to have the submitter to resend the file.

[2022-07-29 14:04] jiyue1214 commented on #63
Thanks for your help. I will be responsible to contact the author then!

[2022-08-04 10:04] jdhayhurst opened #64 "GCST005538 is on build 36 (not 37) - reharmonise"
This study also contains duplicates e.g.:
[code]
At a minimum we should change the build to 36 and reharmonise

[2022-08-04 14:30] jdhayhurst commented on #64
changed build labels - requeued for harmonisation

[2022-08-24 08:40] jdhayhurst commented on #64
released

[2022-08-24 09:14] #64 closed, assigned to jdhayhurst

[2022-08-30 09:54] jdhayhurst opened #65 "problem with submission 62ef8ec315ccca0001f00f68"
https://www.ebi.ac.uk/gwas/deposition/submission/62ef8ec315ccca0001f00f68
several errors in the form:
127.sebaceous_phylum_firmicutes_forehead_retroauricular.fold.tsv.gz: There is a problem on our side

[2022-08-30 15:15] jdhayhurst commented on #65
Validation was successful but:
[code]
Have restarted

[2022-09-01 09:38] jdhayhurst commented on #65
resolved

[2022-09-07 10:45] #65 closed, assigned to jdhayhurst

[2022-09-07 10:55] ljwh2 commented on #63
Hi @jiyue1214 did you contact the author for this issue or is that still to be done?

[2022-09-07 11:03] jiyue1214 commented on #63
HI @ljwh2 , I have not contacted the author. Since the author needs to re-submit the data, I was told the GWAS catalog would contact the author. Hopefully, we will get it soon.

[2022-09-07 13:24] jdhayhurst commented on #63
replaced file on staging - should release with next sync (tonight)

[2022-09-21 09:52] ljwh2 commented on #63
@ljwh2 check if this can be closed

[2022-10-04 01:27] Guo00158 opened #66 "GCP ID: GCP000358 not found"
Hi,

I was trying to locate the GWAS summary data using the GCP ID (GCP000358) provided by a recent study: https://www.nature.com/articles/s41588-022-01165-1#data-availability. But no results are related to this ID. I wonder where I can get access to it.

Thanks!

[2022-10-05 09:16] earlEBI commented on #66
Hi,

Thanks for getting in touch. Unfortunately the GCP ID provided in the paper is not searchable in our pages. The easiest way to access the data would be to search by PMID - which takes you to this page: https://www.ebi.ac.uk/gwas/publications/36071172 - and scroll down to the bottom studies table which contains FTP links in the right-hand column.

Hope this helps!

[2022-10-05 10:56] ljwh2 commented on #63
@jiyue1214 could you please confirm if this ticket can be closed? James has updated the file

[2022-10-05 11:20] jiyue1214 commented on #63
Hi @ljwh2, thanks for all your help! The replaced file works!

[2022-10-05 11:20] #63 closed, assigned to jdhayhurst

[2022-10-05 12:32] jdhayhurst opened #67 "fix permissions on files on public FTP"
The following files have 0 access permissions for external users. Check whether they should in fact have access:
./GCST90032001-GCST90033000/GCST90032652
./GCST90032001-GCST90033000/GCST90032653
./GCST90092001-GCST90093000/GCST90092508
./GCST90092001-GCST90093000/GCST90092509
./GCST90092001-GCST90093000/GCST90092515
./GCST90092001-GCST90093000/GCST90092514
./GCST90092001-GCST90093000/GCST90092511

[2022-10-05 12:37] jdhayhurst commented on #67
These are the studies that need access:
GCST000964
GCST90002382
GCST90104550
GCST90104535
GCST90104545
GCST90104540
GCST90104555
GCST90104560
GCST90104549
GCST90104534
GCST90104544
GCST90104539
GCST90104554
GCST90104559
GCST90104551
GCST90104536
GCST90104546
GCST90104541
GCST90104556
GCST90104561
GCST90104553
GCST90104538
GCST90104548
GCST90104543
GCST90104558
GCST90104563
GCST90104552
GCST9010453

[2022-10-06 04:06] Guo00158 commented on #66
Dear EBI team,

Thank you very much! It's really great to know the PMID works!

Best,
Yuxin

On Wed, Oct 5, 2022 at 5:16 AM earlEBI ***@***.***> wrote:

[2022-10-19 08:41] #66 closed, assigned to nobody

[2022-10-19 10:14] #67 closed, assigned to jdhayhurst

[2022-11-18 10:41] jdhayhurst opened #68 "globus timeout resulting in not being able to publish 35995766"
manually publish, fix with #215

[2022-11-23 09:58] jdhayhurst opened #69 "no sumstats files for GCST90179214 to GCST90179468"
folders and md5sums created but no data files.

[2022-11-23 11:55] jdhayhurst commented on #69
manually released

[2022-11-30 09:41] jdhayhurst commented on #69
files are ready but is not published in curation db

[2022-11-30 10:27] #68 closed, assigned to jdhayhurst

[2022-11-30 11:42] #69 closed, assigned to jdhayhurst